 .u-section-1 {
  background-image: url("images/cf.jpg");
  background-position: 50% 50%;
  min-height: 703px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 701px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 144px 16px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 16px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 0 auto 0 16px;
  padding: 9px 52px 11px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 701px;
  background-image: url("images/26w-min.jpg");
  background-position: 0% 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 36px;
    padding-left: 35px;
  }

  .u-section-1 .u-image-1 {
    min-height: 443px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 586px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 291px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 446px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 37px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-line-1 {
  width: 25px;
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 384px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-line-2 {
  width: 25px;
  transform-origin: left center 0px;
  margin: -2px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 384px;
}

.u-section-2 .u-container-layout-3 {
  padding: 26px 11px;
}

.u-section-2 .u-line-3 {
  width: 25px;
  transform-origin: left center 0px;
  margin: -2px auto 0 9px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: 14px 18px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 18px 9px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-line-4 {
  width: 25px;
  transform-origin: left center;
  left: 20px;
  top: 31px;
  position: absolute;
  height: 4px;
  transform: rotate(360deg);
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-align: left;
  margin: 14px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 54px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: left center 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-2 .u-line-3 {
    transform-origin: left center 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 811px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-3 .u-image-1 {
  width: 516px;
  min-height: 342px;
  background-image: url("images/cc0cbee6-5c91-9a56-37d1-8b6f5cc1ca10.png");
  background-position: 50% 50%;
  margin: 329px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 628px;
  height: 606px;
  object-position: 46.8% 100%;
  background-position: 46.8% 100%;
  margin: -671px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-3 .u-container-layout-3 {
  padding: 60px 0 60px 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 6px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 35px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-style: none;
  margin: 11px 16px 0 auto;
  padding: 9px 16px 10px 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-3 .u-image-1 {
    width: 404px;
    min-height: 319px;
  }

  .u-section-3 .u-image-2 {
    width: 514px;
    height: 589px;
    margin-top: -648px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-3 .u-image-1 {
    width: 315px;
    min-height: 347px;
    margin-top: 176px;
  }

  .u-section-3 .u-image-2 {
    width: 388px;
    height: 469px;
    margin-top: -523px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-3 .u-image-1 {
    width: 404px;
  }

  .u-section-3 .u-image-2 {
    width: 487px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-3 .u-image-1 {
    width: 239px;
    min-height: 240px;
    margin-top: 159px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-image-2 {
    width: 308px;
    height: 357px;
    margin-top: -399px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 550px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px 1075px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 900;
  font-size: 9.375rem;
  text-transform: uppercase;
  line-height: 0.6;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 2px;
  margin: 32px 308px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 25px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 875px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 655px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 475px;
  }

  .u-section-4 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 275px;
  }

  .u-section-4 .u-text-2 {
    font-size: 4.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 596px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 52px 376px 0 411px;
}

.u-section-5 .u-accordion-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-5 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-5 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-5 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 242px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 26px 0 0;
}

.u-section-5 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-5 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0 35px 0 0;
}

.u-section-5 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-5 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin: 0 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 390px;
    margin-right: 276px;
  }

  .u-section-5 .u-text-3 {
    line-height: 25.6px;
  }

  .u-section-5 .u-text-4 {
    line-height: 25.6px;
  }

  .u-section-5 .u-text-6 {
    line-height: 25.6px;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(0, 0, 0);
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 299px;
    margin-right: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 224px;
    margin-right: 76px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 141px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 508px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px 1075px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 900;
  font-size: 9.375rem;
  text-transform: uppercase;
  line-height: 0.6;
  margin: 40px auto 0 0;
}

.u-section-6 .u-text-3 {
  letter-spacing: 2px;
  margin: 32px 308px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 25px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 875px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 655px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 475px;
  }

  .u-section-6 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 275px;
  }

  .u-section-6 .u-text-2 {
    font-size: 4.5rem;
  }
} .u-section-7 {
  min-height: 697px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 350px;
  background-image: url("images/dreamy-pretty-woman-with-tea-tablet-loggia_1262-4987.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 350px;
  background-image: url("images/front-view-woman-having-video-call_23-2148521607.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 350px;
  background-image: url("images/family-home_23-2148166817.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 350px;
  background-image: url("images/fg.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  min-height: 350px;
  background-image: url("images/home-lifestyle-woman-looking-through-window_23-2148541308.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  min-height: 350px;
  background-image: url("images/elder-woman-looking-through-window_23-2148201275.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 350px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 288px;
  }

  .u-section-7 .u-image-2 {
    min-height: 288px;
  }

  .u-section-7 .u-image-3 {
    min-height: 288px;
  }

  .u-section-7 .u-image-4 {
    min-height: 288px;
  }

  .u-section-7 .u-image-5 {
    min-height: 288px;
  }

  .u-section-7 .u-image-6 {
    min-height: 288px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 262px;
  }

  .u-section-7 .u-image-1 {
    min-height: 221px;
  }

  .u-section-7 .u-image-2 {
    min-height: 221px;
  }

  .u-section-7 .u-image-3 {
    min-height: 221px;
  }

  .u-section-7 .u-image-4 {
    min-height: 221px;
  }

  .u-section-7 .u-image-5 {
    min-height: 221px;
  }

  .u-section-7 .u-image-6 {
    min-height: 221px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1286px;
  }

  .u-section-7 .u-image-1 {
    min-height: 497px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 497px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 497px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 497px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-5 {
    min-height: 497px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-6 {
    min-height: 497px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 798px;
  }

  .u-section-7 .u-image-1 {
    min-height: 313px;
  }

  .u-section-7 .u-image-2 {
    min-height: 313px;
  }

  .u-section-7 .u-image-3 {
    min-height: 313px;
  }

  .u-section-7 .u-image-4 {
    min-height: 313px;
  }

  .u-section-7 .u-image-5 {
    min-height: 313px;
  }

  .u-section-7 .u-image-6 {
    min-height: 313px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 970px;
}

.u-section-8 .u-text-1 {
  text-decoration: underline !important;
  margin: 20px 288px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 20px 1px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-family: 'Open Sans',sans-serif;
  padding: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-family: 'Open Sans',sans-serif;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  margin-top: 20px;
  padding: 0;
}

.u-section-8 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-13 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 545px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 20px 60px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-4 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-9 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-9 {
  font-size: 1.25rem;
  font-family: 'Open Sans',sans-serif;
  background-image: none;
  padding: 0;
}

.u-section-9 .u-btn-10 {
  font-size: 1.25rem;
  font-family: 'Open Sans',sans-serif;
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 467px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px auto 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  font-size: 4.5rem;
  margin: 101px 250px 0 10px;
}

.u-section-10 .u-social-icons-1 {
  white-space: nowrap;
  height: 75px;
  min-height: 16px;
  width: 159px;
  min-width: 42px;
  margin: 53px auto 0 33px;
}

.u-section-10 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-10 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 147px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    margin-top: -25px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 42px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 62px;
  }
}